<% if (pages > 0) { %>
    <br>
    <nav aria-label="Page navigation example m5" >
        <ul class="pagination justify-content-center" >
            <% if (current == 1) { %>
                <li class="page-item disabled" style="border-color: #f4623a; color: #f4623a;"><a class="page-link" style="border-color: #f4623a; color: #f4623a;">Primeiro</a></li>
            <% } else { %>
                <li style=" border-color: #f4623a; color: #f4623a;"><a class="page-link" style="border-color: #f4623a; color: #f4623a;" href="/evaluetor/1">Primeiro</a></li>
            <% } %>
            <% var i = (Number(current) > 5 ? Number(current) - 4 : 1) %>
            <% if (i !== 1) { %>
                <li class="page-item disabled" style=" color: #f4623a;"><a >...</a></li>
            <% } %>
            
            <% for (; i <= (Number(current) + 4) && i <= pages; i++) { %>
                <% if (i == current) { %>
                    <li class="page-item active" style=" border-color: #f4623a; color: #f4623a;"><a style="background-color: whitesmoke; border-color: #f4623a; color: #f4623a;" class="page-link"><%= i %></a></li>
                <% } else { %>
                    <li class="page-item" style=" border-color: #f4623a; color: #f4623a;" ><a style=" border-color: #f4623a; color: #f4623a;" class="page-link" href="/evaluetor/<%= i %>"><%= i %></a></li>
                <% } %>
                <% if (i == Number(current) + 4 && i < pages) { %>
                    <li class="page-item disabled" style=" border-color: #f4623a; color: #f4623a;"><a>...</a></li>
                <% } %>
            <% } %>
            <% if (current == pages) { %>
                <li class="page-item disabled" ><a style=" color: #f4623a;" class="page-link">Último</a></li>
            <% } else { %>
                <li style=" color: #f4623a;"><a style=" border-color: #f4623a; color: #f4623a;" class="page-link" href="/evaluetor/<%= pages %>">Último</a></li>
            <% } %>
        </ul>
    </nav>
<% } %>