<header>
<div class="container" id="nav-container">
    <nav class="navbar navbar-expand-lg fixed-top">
        <button class="navbar-toggler" type="button" data-togle="collapse"
        data-target="navbar-links" aria-controls="navbar-links" aria-extended="false"
        aria-label="Toggle-navgation">
            <span class="navbar-toggle-icon"></span>
        <a href="/" class="navbar-brand">
            <img src="./#" id="logo" alt="Bot찾o Home"> 
        </a>  
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbar-links">
          
          <a class="dropdown-item" href="/register">Realizar Cadastro</a>
          <a class="dropdown-item" href="/perfil">Perfil</a> <!-- Os dados est찾o indo para a /home e n찾o para a navbar-->
          <a class="dropdown-item" href="/login">Realizar Login</a>
          <a class="dropdown-item" href="/tutorial">Tutorial</a>
          <a class="dropdown-item" href="/list">Portfolio</a>
          <a class="dropdown-item" href="/podium">P처dio</a>
          <a class="dropdown-item" href="/evaluetor">Falar com professor</a>
          <a class="dropdown-item" href="/studant">Falar com estudante</a>
        </div>
    </nav>
    </div>
</div>
</header>