<header>
    <nav class="navbar navbar-expand-lg navbar-light fixed-top py-3" id="mainNav">
        <div class="container px-4 px-lg-5">
            <a class="navbar-brand" href="/">Ponta Fina</a>
            <button class="navbar-toggler navbar-toggler-right" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ms-auto my-2 my-lg-0">
                    <li class="nav-item"><a class="nav-link" href="/register">Cadastrar</a></li>
                    <li class="nav-item"><a class="nav-link" href="/login">Logar</a></li>
                    <li class="nav-item"><a class="nav-link" href="/perfil">Perfil</a></li>
                    <li class="nav-item"><a class="nav-link" href="/tutorial">Tutorial</a></li>
                    <li class="nav-item"><a class="nav-link" href="/list">Portif처lio</a></li>
                    <li class="nav-item"><a class="nav-link" href="/podium">P처dio</a></li>
                    <li class="nav-item"><a class="nav-link" href="/evaluetor">Professores</a></li>
                    <li class="nav-item"><a class="nav-link" href="/studant">Alunos</a></li>
                </ul>
            </div>
        </div>
    </nav>
<!--<div class="container" id="nav-container">
    <nav class="navbar navbar-expand-lg fixed-top">
        <button class="navbar-toggler" type="button" data-togle="collapse"
        data-target="navbar-links" aria-controls="navbar-links" aria-extended="false"
        aria-label="Toggle-navgation">
            <span class="navbar-toggle-icon"></span>
        <a href="/" class="navbar-brand">
            <img src="./#" id="logo" alt="Bot찾o Home"> 
        </a>  
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbar-links">
          
          <a class="dropdown-item" href="/register">Realizar Cadastro</a>
          <a class="dropdown-item" href="/perfil">Perfil</a>
          <a class="dropdown-item" href="/login">Realizar Login</a>
          <a class="dropdown-item" href="/tutorial">Tutorial</a>
          <a class="dropdown-item" href="/list">Portfolio</a>
          <a class="dropdown-item" href="/podium">P처dio</a>
          <a class="dropdown-item" href="/evaluetor">Falar com professor</a>
          <a class="dropdown-item" href="/studant">Falar com estudante</a>
        </div>
    </nav>
    </div>
</div>
-->
</header>