<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <title>Home</title>
    <%- include('./partials/headers') %>
</head>
<body>
    <%- include('./partials/navbar'); %>
    <main id="work-area">
        <article>
            <!-- Comentarios dos professores sobre a redação, fazer tipo o que esta no portfolio-->
            
            <button type="button"><a href="/list">Voltar para portifolio</a></button>
        </article>
    </main>
</body>
</html>