<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <title>Criação</title>
    <%- include('./partials/headers') %>
</head>
<body>
    <%- include('./partials/navbar'); %>
    <main>

    </main>
</body>
</html>