<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <title>Home</title>
    <%- include('./partials/headers') %>
</head>
<body>
    <%- include('./partials/navbar'); %>
    <main id="work-area">
        <h1>Bem-Vindo <%= user %> </h1> <!-- REVER EXEMPLO DE DROP DOWN DO ROGER-->
        <h1>Comece a praticar redação da maneira correta</h1><br>
        <h2>Descubra seu objetivo</h2><br>
        <button type="button"><a href="/write">+ Nova Redação</a></button>

        <!-- Conteudo do site para iniciar uma nova redação e artigos-->
    </main>
    <article>
        <!-- Vestibulares famosos-->
    </article>
</body>
</html>