<!-- ESTUDE A AULA 214 DO CURSO !!! -->

<!-- ENSINA COMO MOSTRAR CONTEUDO DINAMICO EM PAGINA -->

<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <title>Listagem</title>
    <%- include('./partials/headers') %>
</head>
<body>
    <%- include('./partials/navbar'); %>
    <main>

    </main>
</body>
</html>