<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <title>Home</title>
    <%- include('./partials/headers') %>
</head>

<body>
    <%- include('./partials/navbar'); %>
        <header class="masthead">
            <div class="container px-4 px-lg-5 h-100">
                <div class="row gx-4 gx-lg-5 h-100 align-items-center justify-content-center text-center">
                    <div class="col-lg-8 align-self-baseline">
                        <main>
                            <section>
                                <div class="container">
                                    <h2>Tutoriais</h2>

                                    <main>
                                        <nav>
                                            <a class="btn btn-primary" style="background-color: white; color:black" href tutor="/step01">I - Começando do zero</a>
                                            <a class="btn btn-primary" style="background-color: white; color:black" href tutor="/step02">II - Pontuações no ENEM</a>
                                            <a class="btn btn-primary" style="background-color: white; color:black" href tutor="/step03">III - Formas de avaliação e Modelos</a>
                                        </nav>
                                        <br>
                                        <section id="content">
                                            <p>Selecione o tutorial desejado no menu acima!</p>
                                        </section>
                                    </main>
                                </div>
                            </section>
                        </main>
                    </div>
                </div>
            </div>
        </header>
        <script>
            document.querySelectorAll('[tutor]').forEach((link) => {

                const content = document.getElementById('content')

                link.onclick = (e) => { //Adicionei uma propriedade ao Objeto "link" (essa propriedade é do document)
                    e.preventDefault() //Aqui eu não deixo ele fazer as funções normais (que seria ir para o arquivo de link)
                    fetch(link.getAttribute('tutor')) //Pego o elemento "tutor" que esta dentro do "link" da tag "a" (Chamada AJAX)
                        .then(arquive => arquive.text()) //Aqui ele retorna o arquivo site.html em uma Promise
                        .then(text => content.innerHTML = text)
                        .catch(err => console.log(err))
                }
            })
        </script>
</body>

</html>