<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <title>Iniciar redação</title>
    <%- include('./partials/headers') %>
</head>

<body>
    <%- include('./partials/navbar'); %>
        <header class="masthead">
            <div class="container">
                <div class="align-items-center justify-content-center text-center">
                    <div class=" align-self-baseline">
                        <main>
                            <section>
                                <div class="container">
                                    <h2>Redação</h2>
                                    <main>
                                        <form id="contactForm" method="POST" data-sb-form-api-token="API_TOKEN"
                                            enctype="multipart/form-data" action="/write">
                                            <div class="row">
                                                <div class="col">
                                                <div class="form-floating mb-3">
                                                    <input type="text" name="title" id="" class="form-control" required>
                                                    <label for="title">Titulo</label>
                                                </div>
                                            </div>
                                            <div class="col">
                                                <div class="form-floating mb-3 ">
                                                    <select name="test" id="test" class="form-control">
                                                        <option value="LIVRE" selected>LIVRE</option>
                                                        <option value="ENEM">ENEM</option>
                                                        <option value="UFRGS">UFRGS</option>
                                                        <option value="USP">USP</option>
                                                        <option value="UFRJ">UFRJ</option>
                                                        <option value="ESA">ESA</option>
                                                        <option value="ESPCEX">EsPCEx</option>
                                                        <option value="DEFERAL">Policia Federal</option>
                                                    </select>
                                                    <label for="test">Vestibular</label>
                                                </div>
                                            </div>
                                            <div class="col">
                                                <div class="form-floating mb-3">
                                                    <input type="text" name="assunt" id="" class="form-control" required>
                                                    <label for="assunt">Tópico:</label>
                                                </div>
                                            </div>
                                            <div class="col">
                                                <div class="form-check form-switch">
                                                    <input class="form-check-input" type="checkbox" name="visible" id="flexSwitchCheckDefault" value="">
                                                    <label class="form-check-label" for="flexSwitchCheckDefault" style="color:white;">Tornar visivel no pódio</label>
                                                  </div>
                                            </div>
                                            <div class="row d-flex justify-content-center">
                                            <textarea id="my-expressjs-tinymce-app" name="redation"
                                                style="width:900px; height:1000px">Escreva aqui sua redação!</textarea>
                                            </div>
                                            <div class="d-grid mb-3"><button class="btn btn-primary btn-xl" type="submit"
                                                    id="form-submit">Enviar</button></div>
                                        </form>
                                        <script type="application/javascript" src="/tinymce/tinymce.min.js"></script>
                                        <script type="application/javascript"
                                            src="/javascripts/my-tinymce-config.js"></script>

                                    </main>
                                </div>
                            </section>
                        </main>
                    </div>
                </div>
            </div>
        </header>
</body>

</html>