<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <title>Iniciar redação</title>
    <%- include('./partials/headers') %>
</head>

<body>
    <%- include('./partials/navbar'); %>
        <main>
                <form enctype="multipart/form-data" action="/write" method="post">
                    <label for="title">Titulo:</label>
                    <input type="text" name="title" id="" required>
                    <label for="test">Escola de Teste:</label>
                    <select name="test" id="">
                        <option value="LIVRE" selected>LIVRE</option>
                        <option value="ENEM">ENEM</option>
                        <option value="UFRGS">UFRGS</option>
                        <option value="USP">USP</option>
                        <option value="UFRJ">UFRJ</option>
                        <option value="ESA">ESA</option>
                        <option value="ESPCEX">EsPCEx</option>
                        <option value="DEFERAL">Policia Federal</option>
                    </select>
                    <br>
                    <label for="assunt">Tópico:</label>
                    <input type="text" name="assunt" id="" required>
                    <label for="assunt">Tornar visivel no pódio: </label>
                    <input type="checkbox" name="visible" id="">
                    <textarea id="my-expressjs-tinymce-app" name="redation">Escreva aqui sua redação!</textarea>
                    <button type="submit" id="form-button">Enviar</button>
                </form>
                <script type="application/javascript" src= "/tinymce/tinymce.min.js"></script>
                <script type="application/javascript" src= "/javascripts/my-tinymce-config.js"></script>
    <%- include('./partials/footers'); %>
        </main>
</body>

</html>