<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registrar</title>
    <%- include('../partials/headers'); %>
</head>
<body>
    <%- include('../partials/navbar'); %>
    <main>
        <form enctype="multipart/form-data" action="/editUser" method="POST">
            <!-- Todos os campos são obrigatórios, tem que adaptar isso para middleware-->
            <input type="text" name="name" id="form-camp" required>
            <input type="email" name="email" id="form-camp" required>
            <input type="password" name="passwd" id="form-camp" required>
           
                <input type="radio" name="choose" id="form-camp" value="professor">
                <label>Professor</label>
            
                <input type="radio" name="choose" id="form-camp" value="studant">
                <label>Estudante</label>

            <input type="file" name="image" id="form-camp" required>
            <button type="submit" id="form-button">Enviar</button>
        </form>
    </main>
</body>
</html>