<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfil</title>
    <%- include('../partials/headers'); %>
</head>
<body>
    <%- include('../partials/navbar'); %>
    <main>
        <!-- Tudo aqui deve ser modificado para mostrar as infos do BD-->
        <img src="../../public/images/#" alt="Imagem do Perifl">
        <p>Nome do usuario</p>
        <p>email</p>
        <p>Estudante</p>
        <button type="submit"><a href="/logout">Logout</a></button>
        <button type="submit"><a href="/editUser">Editar</a></button>
    </main>
</body>
</html>