<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registrar</title>
    <%- include('../partials/headers'); %>
</head>

<body>
    <%- include('../partials/navbar'); %>
        <header class="masthead">
            <div class="container px-4 px-lg-5 h-100">
                <div class="row gx-4 gx-lg-5 h-100 align-items-center justify-content-center text-center">
                    <div class="col-lg-8 align-self-center">
                        <main>
                            <!-- AQUI É O MODELO-->
                            <section class="page-section" id="contact">
                                <div class="container px-4 px-lg-5">
                                    <div class="row gx-4 gx-lg-5 justify-content-center">
                                        <div class="col-lg-8 col-xl-6 text-center">
                                            <h2 class="mt-0">Registrar</h2>
                                            <hr class="divider" />
                                            <p class="text-muted mb-5">Para criar uma nova conta, preencha os campos abaixo!</p>
                                        </div>
                                    </div>
                                    <div class="row gx-4 gx-lg-5 justify-content-center mb-5">
                                        <div class="col-lg-6">
                                            <form id="contactForm" enctype="multipart/form-data" action="/register" method="POST" data-sb-form-api-token="API_TOKEN" >
                                                <!-- Name input-->
                                                <div class="form-floating mb-3">
                                                    <input name="name" class="form-control" id="name" type="text" placeholder="Enter your name..." data-sb-validations="required"/>
                                                    <label for="name">Nome</label>
                                                    <div class="invalid-feedback" data-sb-feedback="name:required">Nome é obrigatório.</div>
                                                </div>
                                                <!-- Email address input-->
                                                <div class="form-floating mb-3">
                                                    <input name="email" class="form-control" id="email" type="email" placeholder="name@example.com" data-sb-validations="required,email"/>
                                                    <label for="email">Email</label>
                                                    <div class="invalid-feedback" data-sb-feedback="email:required">Um email é necessário.</div>
                                                    <div class="invalid-feedback" data-sb-feedback="email:email">Email invalido.</div>
                                                </div>
                                                <!-- Password input-->
                                                <div class="form-floating mb-3">
                                                    <input name="passwd" class="form-control" id="phone" type="password" placeholder="palavra chave" data-sb-validations="required" />
                                                    <label for="phone">Senha</label>
                                                    <div class="invalid-feedback" data-sb-feedback="phone:required">Senha invalida</div>
                                                </div>
                                                <!-- Role input-->
                                                <div class="form-control mb-4">
                                                    <input type="radio" name="role" id="form-camp" value="1">
                                                    <!-- Professor = 1 no campo role-->
                                                    <label>Professor</label>
                
                                                    <input type="radio" name="role" id="form-camp" value="0">
                                                    <!-- Aluno = 0 no campo role-->
                                                    <label>Estudante</label>
                                                </div>

                                                <!-- Photo input-->
                                                <div class="form-floating mb-4"></div>
                                                    <h5 style="color: #fff">Foto de Perfil:</h5>
                                                    <input class="form-control" type="file" name="image" id="form-camp" required>
                                                </div>

                                                <!-- Submit success message-->
                                                <!---->
                                                <!-- This is what your users will see when the form-->
                                                <!-- has successfully submitted-->
                                                <div class="d-none" id="submitSuccessMessage">
                                                    <div class="text-center mb-3">
                                                        <div class="fw-bolder">Enviado com sucesso!</div>
                                                    </div>
                                                </div>

                                                <!-- Submit error message-->
                                                <!---->
                                                <!-- This is what your users will see when there is-->
                                                <!-- an error submitting the form-->
                                                <div class="d-none" id="submitErrorMessage"><div class="text-center text-danger mb-3">Erro no envio, tente novamente mais tarde!</div></div>
                                                
                                                <!-- Submit Button-->
                                                <div class="form-floating pt-3">
                                                    <button class="btn btn-primary btn-xl w-50" type="submit"
                                                    id="form-submit">Registrar</button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </section>

                            
                        </main>
                    </div>
                </div>
            </div>
        </header>
</body>

</html>