<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <%- include('./parts/header.ejs'); %>
</head>
<body>
    <%- include('./parts/navbar.ejs'); %>
    <main>
        <h1>Comece a praticar redação da maneira correta</h1><br>
        <h2>Descubra seu objetivo</h2><br>
        <button type="button" href="#">+ Nova Redação</button>

        <!-- Conteudo do site para iniciar uma nova redação e artigos-->
        <article>
            <!-- Vestibulares famosos-->
        </article>
    </main>
    <footer>
        <!-- Copyright e redes sociais, com alguns links uteis -->
    </footer>
</body>
</html>