<div class="container" id="nav-container">
    <nav class="navbar navbar-expand-lg fixed-top">
        <a href="/" class="navbar-brand">
            <img src="./#" id="logo" alt="Botão Home"> 
        </a>  
        <button class="navbar-toggler" type="button" data-togle="collapse"
        data-target="navbar-links" aria-controls="navbar-links" aria-extended="false"
        aria-label="Toggle-navgation">
            <span class="navbar-toggle-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbar-links">
           <!-- MODIFICAR DAQUI PARA BAIXO TODOS OS ITENS 
            - É REFERENTE A TODOS OS ITENS DE LOGIN DO USUARIO E MENU DROP-DOWN
            <%if(usuario){ %>
              <div class="dropdown-menu">
                  <a class="nav-link dropdown-toggle" href="/perfil" data-toggle="dropdown"><%= usuario%></a>
                  <a class="dropdown-item" href="/portfolio" data-toggle="dropdown">Portifólio</a>
                  <a class="dropdown-item" href="/logout">Sair</a>
                </div>
              <% }else{%>
                <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">
                  Opções Disponíveis
                </a>
                <div class="dropdown-menu">
                  <a class="dropdown-item" href="/login">Realizar Login</a>
                  <a class="dropdown-item" href="/cadastro">Realizar Cadastro</a>
                </div>
              <%}%>
            -->
        </div>
    </nav>
    </div>
</div>