<h2> Neste site as avaliações ocorrem da seguinte maneira: (modelo ENEM de avaliação) </h2>
<p> Cada competência é avaliada por dois avaliadores independentes, que atribuem uma nota de 0 a 200 pontos para cada
    uma delas.</p>
<p>A nota final da redação é a média aritmética das notas atribuídas pelos avaliadores em cada competência.</p>
<p>A nota final pode variar de 0 a 1000 pontos.</p>
<strong> Dica:</strong>
<p> Recomenda-se a leitura de outras redações bem avaliadas, assim sendo, preste bem a atenção nos tópicos que foram
    abordados anteriormente e tente replicar em seus textos, adaptando claro ao tema em questão e sempre mantendo a
    coesão e coerência! :)</p>

<a tutor_aux href="/download01" target="_blank"><img src="site_things/Image/PDF_IMAGE.png" alt="redação 2019" width="100px">- A democratização do acesso ao cinema no Brasil.</a>
<a tutor_aux href="/download02" target="_blank"><img src="site_things/Image/PDF_IMAGE.png" alt="redação 2022" width="100px">- Os desafios para a valorização de comunidades e povos tradicionais no Brasil</a>
