<h2> Na plataforma, as redações são avaliadas da seguinte maneira: </h2>
<div style="background-color: whitesmoke; border-radius: 5px; padding: 5px;">
<p> Cada redação é avaliada por 1 ou mais avaliadores independentes, que atribuem com uma nota de 0 a 1000 pontos e mais um comentário sobre o texto.</p>
    <p>A nota final da redação é a média aritmética das notas atribuídas pelos avaliadores.</p>
    <p>A nota final pode variar de 0 a 1000 pontos de acordo com a média recebida.</p>
    <strong> Dica:</strong>
    <p> Recomenda-se a leitura de outras redações bem avaliadas, assim sendo, preste bem sua atenção nos tópicos que foram
        abordados anteriormente e tente replicar em seus textos, adaptando claro ao tema em questão e sempre mantendo a
        coesão e coerência! :)</p>
    </div>
    
    <div style="background-color: whitesmoke; border-radius: 15px; margin-top: 5px;padding-right: 10px; width:fit-content">
        <a tutor_aux href="/download01" target="_blank"><img src="site_things/Image/PDF_IMAGE.png" alt="redação 2019" width="100px">- A democratização do acesso ao cinema no Brasil.</a>
    </div>
    <div style="background-color: whitesmoke; border-radius: 15px; margin-top: 5px;padding-right: 10px; width:fit-content">
        <a tutor_aux href="/download02" target="_blank"><img src="site_things/Image/PDF_IMAGE.png" alt="redação 2022" width="100px">- Os desafios para a valorização de comunidades e povos tradicionais no Brasil</a>
    </div>
        <div class="d-grid mb-3">
<a class="btn btn-primary btn-xl" href="/write">Tentar uma redação!</a>
</div>